<div class="menu-options" *ngIf="HeaderStyle == 'Buy'">
    <div class="card-option" routerLink="/Buy-Idea">
        <div class="center">
            <img src="./assets/Lamp.png" alt="Idea Icon">
        </div>
        <h2 class="text-hover option-title">Ideas</h2>
    </div>
    <div class="card-option" routerLink="/Buy-Secret">
        <div class="center">
            <img src="./assets/Secret.png" alt="Idea Icon">
        </div>
        <h2 class="text-hover option-title">Secrets</h2>
    </div>
</div>
<div class="menu-options" *ngIf="HeaderStyle == 'Sell'">
    <div class="card-option" routerLink="/Sell-Idea">
        <div class="center">
            <img src="./assets/Lamp.png" alt="Idea Icon">
        </div>
        <h2 class="text-hover option-title">Ideas</h2>
    </div>
    <div class="card-option" routerLink="/Sell-Secret">
        <div class="center">
            <img src="./assets/Secret.png" alt="Idea Icon">
        </div>
        <h2 class="text-hover option-title">Secrets</h2>
    </div>
</div>