<div class="center">
    <div class="box">
        <h1 class="tittle-idea">Idea</h1>
        <mat-form-field class="test">
            <select matNativeControl class="custom">
                <option value="" selected>Selecione uma opção</option>
                <option value="volvo">Trabalho</option>
                <option value="mercedes">Receita</option>
                <option value="audi">Programa</option>
            </select>
        </mat-form-field>
    </div>
    <button class="buy-button">Buy an Idea</button>
</div>