.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
}

.content{
    padding: 20px;
    border-radius: 15px;
    background-color: var(--yellow-500);
    box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 3px 4px;
    max-height: 550px;
    overflow-y: scroll;
}

.info-idea{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-info{
    display: flex;
    align-items:center;
    flex-direction: column;
}

.img-profile{
    border-radius: 100%;
    max-width: 50px;
    min-width: 30px;
}

.small-description-content{
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 3ch;
    width: 800px;
}

.idea-name{
    text-align: center;
    font-size: 96px;
    padding-top: 150px;
}