.sell-button{
    width: 10vw;
    font-size: 24px;
    background-color: var(--orange-400);
    border-radius: 15px;
    border: none;
    padding: 1vw;
    word-wrap:break-word;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85vh;
}

.sell-button:hover{ 
    scale: 1.1;
    transition: .6s;
    color: #fff;
}

.tittle-idea{
    font-size: 48px;
    margin-bottom: 40px;
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
}

.custom{
    font-size: 24px;
}

.small-description{
    min-width: 650px;
    max-width: 800px;
    width: 100%;
}

.detailed-description{
    min-width: 900px;
    max-width: 1100px;
    width: 100%;
}

.form {
    background-color: rgb(0, 0, 0, 0.4);
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
}

textarea{
    font-family: Arial, Helvetica, sans-serif !important;
    max-height: 200px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="center"] {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    [class*="form"] {
        width: 90%;
    }
    [class*="box"] {
        width: 100%;
    }
    [class*="detailed-description"] {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
    }
    [class*="small-description"] {
        min-width: 100%;
        max-width: 110%;
        width: 100%;
    }
    [class*="space-description"] {
        width: 65%;
    }
    [class*="show-box"] {
        font-size: 10px !important;
        width: 35%;
    }
    [class*="sell-button"] {
        font-size: 54px;
        width: 60%;
        padding: 20px;
        line-height: 60px;
    }
}