<div class="center">
    <h1 class="tittle-idea" contenteditable="true">New Secret</h1>
    <div class="form">
        <div class="box">
            <form class="space-description">
                <mat-form-field class="small-description">
                    <mat-label>Simple Description</mat-label>
                    <textarea matInput placeholder="Create your simple description..."></textarea>
                </mat-form-field>
            </form>
            <mat-checkbox class="show-box">Show your Own Informations</mat-checkbox>
        </div>
        <form>
            <mat-form-field class="detailed-description">
                <mat-label>Detailed Description</mat-label>
                <textarea matInput placeholder="Create your detailed description..."></textarea>
            </mat-form-field>
        </form>
    </div>
    <button class="sell-button" routerLink="/Sell">Sell Secret</button>
</div>