<div class="center">
    <div class="box">
        <h1 class="tittle-idea">Idea</h1>
        <mat-form-field class="form-size">
            <select matNativeControl class="custom">
                <option value="" selected>Selecione uma opção</option>
                <option value="trabalho">Trabalho</option>
                <option value="receita">Receita</option>
                <option value="programa">Programa</option>
            </select>
        </mat-form-field>
    </div>
    <button class="buy-button" routerLink="/Buy-Idea/1">Buy an Idea</button>
</div>