header{
    width: 100%;
    background-color: #F7B801;
    min-height: 10vh;
    color: var(--brown-500);
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 1% 0px;
}

header .logo{
    width: 6%;
}

main{
    width: 100%;
    min-height: 83.3vh;    
    background-image: url(../assets/MainBg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

footer{
    min-height: 5vh;
    background-color: #000;
}

footer .copyright{
    margin: 0px;
    color: #fff;
}

.index-link:hover{
    color: #fff;
}