<div class="center">
    <h1 class="tittle-idea" contenteditable="true">New Idea</h1>
    <div class="form">
        <div class="box">
            <form>
                <mat-form-field class="small-description">
                    <mat-label>Simple Description</mat-label>
                    <textarea matInput placeholder="Create your simple description..."></textarea>
                </mat-form-field>
            </form>
            <mat-form-field class="form-size">
                <select matNativeControl class="custom">
                    <option value="" selected>Categoria</option>
                    <option value="trabalho">Trabalho</option>
                    <option value="receita">Receita</option>
                    <option value="programa">Programa</option>
                </select>
            </mat-form-field>
        </div>
        <form>
            <mat-form-field class="detailed-description">
                <mat-label>Detailed Description</mat-label>
                <textarea matInput placeholder="Create your detailed description..."></textarea>
            </mat-form-field>
        </form>
    </div>
    <button class="sell-button" routerLink="/Buy-Idea/1">Sell Idea</button>
</div>