header{
    width: 100%;
    min-height: 10vh;
}

.yellow{
    background-color: var(--yellow-500);
}

.black{
    background-color: #000;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 1% 0px;
}

header .logo{
    width: 6%;
}

main{
    width: 100%;
    min-height: 85vh;    
}

.main-bg{
    background-image: url(../assets/MainBg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.idea-bg{
    background-image: url(../assets/IdeaBg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.secret-bg{
    background-image: url(../assets/SecretBg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

footer{
    min-height: 5vh;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer *{
    font-size: 24px;
}

footer .copyright{
    margin: 0px;
    color: #fff;
}

.dark:hover{
    color: #fff;
}

.light:hover{
    color: var(--brown-500);
}

.index-link{
    font-size: 32px;
}

.light{
    color: #fff;
}

.dark{
    color: var(--brown-500);
}