/* You can add global styles to this file, and also import other style files */
:root{
    --brown-500: #5A0001;
    --orange-400: #F2A359;
}

body{
    margin: 0px;
    padding: 0px;
}

* {
    font-family: 'Marck Script', cursive;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
