<p class="idea-name">Idea Name</p>

<div class="center">
    <div class="content">
        <div class="info-idea">
            <div class="right-info">
                <img src="../../assets/logo.png" alt="Profile" class="img-profile">
                <p class="profile-name">Name</p>
            </div>
        </div>
        <div class="small-description">
            <h2 class="small-description-title">Description</h2>
            <p class="small-description-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium eum, tempore itaque quam vero porro aut dolorem veritatis quis nemo! Repellendus, soluta earum minus ducimus cum expedita velit ipsam quam</p>
            <p class="small-description-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium eum, tempore itaque quam vero porro aut dolorem veritatis quis nemo! Repellendus, soluta earum minus ducimus cum expedita velit ipsam quam</p>
            <p class="small-description-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium eum, tempore itaque quam vero porro aut dolorem veritatis quis nemo! Repellendus, soluta earum minus ducimus cum expedita velit ipsam quam</p>
            <p class="small-description-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium eum, tempore itaque quam vero porro aut dolorem veritatis quis nemo! Repellendus, soluta earum minus ducimus cum expedita velit ipsam quam</p>
            <p class="small-description-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium eum, tempore itaque quam vero porro aut dolorem veritatis quis nemo! Repellendus, soluta earum minus ducimus cum expedita velit ipsam quam</p>
            <p class="small-description-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium eum, tempore itaque quam vero porro aut dolorem veritatis quis nemo! Repellendus, soluta earum minus ducimus cum expedita velit ipsam quam</p>
            <p class="small-description-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium eum, tempore itaque quam vero porro aut dolorem veritatis quis nemo! Repellendus, soluta earum minus ducimus cum expedita velit ipsam quam</p>
            <p class="small-description-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium eum, tempore itaque quam vero porro aut dolorem veritatis quis nemo! Repellendus, soluta earum minus ducimus cum expedita velit ipsam quam</p>
            <p class="small-description-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium eum, tempore itaque quam vero porro aut dolorem veritatis quis nemo! Repellendus, soluta earum minus ducimus cum expedita velit ipsam quam</p>
            <p class="small-description-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium eum, tempore itaque quam vero porro aut dolorem veritatis quis nemo! Repellendus, soluta earum minus ducimus cum expedita velit ipsam quam</p>
            <p class="small-description-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium eum, tempore itaque quam vero porro aut dolorem veritatis quis nemo! Repellendus, soluta earum minus ducimus cum expedita velit ipsam quam</p>
            <p class="small-description-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium eum, tempore itaque quam vero porro aut dolorem veritatis quis nemo! Repellendus, soluta earum minus ducimus cum expedita velit ipsam quam</p>
            <p class="small-description-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium eum, tempore itaque quam vero porro aut dolorem veritatis quis nemo! Repellendus, soluta earum minus ducimus cum expedita velit ipsam quam</p>
            <p class="small-description-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium eum, tempore itaque quam vero porro aut dolorem veritatis quis nemo! Repellendus, soluta earum minus ducimus cum expedita velit ipsam quam</p>
            <p class="small-description-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium eum, tempore itaque quam vero porro aut dolorem veritatis quis nemo! Repellendus, soluta earum minus ducimus cum expedita velit ipsam quam</p>
        </div>
    </div>
</div>