/* You can add global styles to this file, and also import other style files */
:root{
    --brown-500: #5A0001;
}

body{
    margin: 0px;
    padding: 0px;
}

* {
    font-family: 'Marck Script', cursive;
}