.buy-button{
    width: 1150px;
    font-size: 128px;
    color: #fff;
    background-color: var(--orange-400);
    border-radius: 15px;
    border: none;
    padding: 90px 120px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.buy-button:hover{ 
    scale: 1.1;
    transition: .6s;
    color: #000;
}